/*
Color Palette:
Primary (yellow): #FFDA23;
Secondary (teal): #115F7E;
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #ffda23;
  padding: 10px 0 4px;
  position: fixed;
  box-shadow: 0 3px 5px 0 rgba(15, 0, 15, 0.5);
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

main {
  padding-top: 92px;
}

/* SIDEBAR NAVIGATION */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 92px; /* Stay at the top */
  left: 0;
  background-color: #202020;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Josefin+Sans', sans-serif;
  color: #ffda23;
  display: block;
}

.sidenav a:visited {
  color: #ffda23;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#hero {
  background-color: #ecf0f1;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #202020;
}

#contact {
  padding-top: 15px;
  background-color: #ecf0f1;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin+Sans', sans-serif;
  color: #115f7e;
  line-height: 1.2;
}

h1 {
  font-size: 2.3em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1.25em;
  font-weight: 700;
}

.big img {
  width: 50%;
  text-align: center;
}

img {
  width: 100%;
}

svg {
  max-width: 250px;
}

#contact svg {
  width: 36px;
}

#contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#contact ul > li {
  display: inline;
}

a {
  color: #0274c7;
  text-decoration: underline;
}

a:visited {
  color: #115f7e;
}

a:hover,
a:focus {
  color: #115f7e;
  text-decoration: none;
}

a:active {
  color: #0274c7;
}

.anchor a {
  position: relative;
  margin-top: -92px;
  visibility: hidden;
}

.button {
  display: inline-block;
  background-color: #202020;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  border-bottom: 2px solid #808080;
  transition: 0.2s opacity;
}

.button:visited {
  color: #fff;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  background-color: #115f7e;
  color: #fff;
}

.button.contact {
  background-color: #ffda23;
  color: #202020;
  text-transform: uppercase;
  border: 2px solid #202020;
}

.button.contact:hover {
  opacity: 0.5;
}

.button.contact:active {
  background-color: #fff;
}

/* Layout styling */

/* for side nav bar */
.main {
  margin-left: 120px; /* Same as the width of the sidebar */
  margin-bottom: 10px;
  padding: 0 10px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

[class*="col-"] {
  width: 100%;
}

.columnB {
  float: left;
  width: 100%;
  padding: 10px;
}

.center {
  text-align: center;
}

/* LIGHTBOX */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 640px) {
  .columnB {
    width: 50%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-3 {
    width: 30%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 640px) {
  svg {
    max-width: 250px;
  }

  nav {
    width: auto;
    float: right;
  }

  nav > ul {
    margin-top: 15px;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .sidenav { width: 160px; }
  .sidenav { padding-top: 20px; }
  .sidenav a { font-size: 16px; }
  .main { margin-left: 160px; }
}

body {
  font-size: 18px;
}

h3 {
  margin-top: 0;
}

#hero span {
  display: block;
}

@media screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
