/*
Color Palette:
Primary (yellow): #FFDA23;
Secondary (teal): #115F7E;
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #FFDA23;
  padding: 10px 0 4px;
  position: fixed;
  box-shadow: 0px 3px 5px 0px rgba(15, 0, 15, 0.5);
  width:100%;
}

nav > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

nav > ul > li > a {
  padding: 0px 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 20px;
  padding-right: 0px;
}

.navtoggle.responsive li  {
  display: block;
}

main {
  padding-top: 92px;
}

/* SIDEBAR NAVIGATION */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 100; /* Stay at the top */
  left: 0;
  background-color: #202020;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Josefin+Sans', sans-serif;
  color: #FFDA23;
  display: block;
}

.sidenav a:visited {
  color: #FFDA23;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#hero {
  background-color: #ECF0F1;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #202020;
}

#contact {
  padding-top: 15px;
  background-color: #ECF0F1;
}

h1, h2, h3, h4 {
  font-family: 'Josefin+Sans', sans-serif;
  color: #115F7E;
  line-height: 1.2;
}
h1 {
  font-size: 2.3em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}
h4 {
  font-size: 1.35em;
  font-weight: 700;
}

.big img {
  width: 50%;
  text-align: center;
}

img {
  width: 100%;
}

svg {
  max-width: 250px;
}

#contact svg {
  width: 36px;
}

#contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#contact ul > li {
  display: inline;
}

a {
  color: #0274C7;
  text-decoration: underline;
}

a:visited {
  color: #115F7E;
}

a:hover,
a:focus {
  color: #115F7E;
  text-decoration: none;
}

a:active {
  color: #0274C7;
}

.button {
  display: inline-block;
  background-color: #202020;
  color:#FFFFFF;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  border-bottom: 2px solid #808080;
  transition: 0.2s opacity;
}

.button:visited {
  color:#FFFFFF;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  background-color: #115F7E;
  color:#FFFFFF;
}

.button.contact {
  background-color: #FFDA23;
  color:#202020;
  text-transform: "uppercase";
  border: 2px solid #202020;
}

.button.contact:hover {
  opacity: 0.5;
}

.button.contact:active {
  background-color: #FFFFFF;
}

/* Layout styling */
/*for side nav bar*/
.main {
  margin-left: 120px; /* Same as the width of the sidebar */
  margin-bottom: 10px;
  padding: 0px 10px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0px; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}

.center {
  text-align: center;
}


@media only screen and (min-width: 640px) {
 svg {
   max-width: 250px;
 }

  nav {
    width: auto;
    float: right;
  }

  nav > ul {
    margin-top: 15px;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .sidenav {width: 160px}
  .sidenav {padding-top: 20px;}
  .sidenav a {font-size: 16px;}
  .main {margin-left: 160px;}
}

#

  body {
    font-size: 18px;
  }

  h3 {
    margin-top: 0px;
  }

  #hero span {
  display: block;
  }

  .col-md-3 {
    width: 30%;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
  float: left;
  padding: 0 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {
}
